<div class="back">
    <div class="my-top my-text-white">
    <nav class="my-sidebar my-bar-block my-card my-animate-left my-hide-medium my-hide-large my-padding-16 my-display-topleft" style="display:none" id="mySidebar"> 
                
</nav> </div>


<div class="my-theme-l5">
<div class="my-container my-content" style="max-width:1388px;">
<div class="my-row">
    <div class="my-col m10">
        <div class="my-row-padding">
            <div class="my-col m12">
                <div class="my-card my-round my-white">
                    <div class="my-container my-padding">
                        <h4>Ask Your Question</h4>
                        <p contenteditable="true" class="my-border my-padding">Always Ready to help you</p>
                        <button type="button" class="my-button my-theme"><i class="fa fa-pencil"></i>  Ask</button> 
                    </div>
                </div>
            </div>
        </div>
        <div class="my-container my-card my-white my-round my-margin">
            <br>
            <img src="../../assets/images/avatar6.png" alt="Avatar" class="my-left my-circle my-margin-right" style="width:60px">
            <span class="my-right my-opacity">2 min</span>
            <h4>Darshan Lukhi</h4>
            <br>
            <hr class="my-clear">
            <p><b>Big Opportunity for all student.</b></p>
            <img src="../../assets/images/placement.png" style="width:100%" class="my-margin-bottom">
            <p>All student which familier with the basic of the data structure.Those student can take
            part in this sudo placement 2.It is giving big Apportunity to devlope your carren in computer science
            field.winner student can directly appoint for the interview in placement campus.</p>
            <button type="button" class="my-button my-theme-d1 my-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> <span> &nbsp; </span>
            <button type="button" class="my-button my-theme-d2 my-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
        </div>
        
        <div class="my-container my-card my-white my-round my-margin">
            <br>
            <img src="../../assets/images/avatar5.png" alt="Avatar" class="my-left my-circle my-margin-right" style="width:60px">
            <span class="my-right my-opacity">16 min</span>
            <h4>Dishank Khatri</h4>
            <br>
            <hr class="my-clear">
            <p><b>Angular Blogs :</b>   Angular 4 is a JavaScript framework for building web applications and apps in JavaScript, html, and
            TypeScript, which is a superset of JavaScript. Angular provides built-in features for animation, 
            http service, and materials which in turn has features such as auto-complete, navigation, toolbar,
            menus, etc. The code is written in TypeScript, which compiles to JavaScript and displays the same in 
            the browser.</p>
            <button type="button" class="my-button my-theme-d1 my-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button><span> &nbsp; </span>
            <button type="button" class="my-button my-theme-d2 my-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
        </div>
        <div class="my-container my-card my-white my-round my-margin">
            <br>
            <img src="../../assets/images/avatar2.png" alt="Avatar" class="my-left my-circle my-margin-right" style="width:60px">
            <span class="my-right my-opacity">31 min</span>
            <h4>Darshan Lukhi</h4>
            <br>
            <hr class="my-clear">
            <p><b>ASP.NET Community &nbsp;: </b> This is a must-read for anyone working with .NET. It's not really a stand-alone blog 
            but rather is an aggregator of .NET articles from various other blogs, but this approach allows it to churn out
            quality pieces with high frequency.</p>
            <div class="my-row-padding" style="margin:0 -16px">
                <div class="my-half">
                    
                </div>
                
            </div>
            <button type="button" class="my-button my-theme-d1 my-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> <span> &nbsp; </span>
            <button type="button" class="my-button my-theme-d2 my-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
        </div>
        <!-- End Middle Column -->
    </div>
    <!-- Right Column -->
    <div class="my-col m2">
        <div class="my-card my-round my-white my-center">
            <div class="my-container">
                <h4>Friend Request</h4>
                <img src="../../assets/images/avatar2.png" alt="Avatar" style="width:50%"><br>
                <h4>Dishank Khatri</h4>
                <div class="my-row my-opacity">
                    <div class="my-half">
                        <button class="my-button my-block my-green my-section" title="Accept"><i class="fa fa-check"></i></button>
                    </div>
                    <div class="my-half">
                        <button class="my-button my-block my-red my-section" title="Decline"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="my-col m2">
        <div class="my-card my-round my-white my-center">
            <div class="my-container">
                <h4>Friend Request</h4>
                <img src="../../assets/images/avatar3.png" alt="Avatar" style="width:50%"><br>
                <h4>Savan Patel</h4>
                <div class="my-row my-opacity">
                    <div class="my-half">
                        <button class="my-button my-block my-green my-section" title="Accept"><i class="fa fa-check"></i></button>
                    </div>
                    <div class="my-half">
                        <button class="my-button my-block my-red my-section" title="Decline"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
</div>