<div class="back">
        
                <div class="hometext my-animate-zoom" style="font-size:10px"><span class="heading">Because Ideas Matters!</span><br><span class="heading2">Online Question Answer Portal Where You Can Share Your Ideas And Thoughts.</span><br><br><br><br></div>
        </div>
     <br>
     <div class="my-center">
            <h1>Categories Page</h1>
    </div>
         <br>
         <div class="my-center details catagories my-row">
                <div class="my-third my-animate-fading">
                   <div class="my-card-0 image-checkbox my-center">
                      <label>
                         <img class="img-responsive" src="../../assets/images/edu.jpg">
                         <input type="checkbox" name="image[]" style="opacity: 0;">
                         <h2>Education</h2>
                         <br><br>
                      </label>
                   </div>
                </div>
                <div class="my-third my-animate-fading">
                   <div class="my-card-0 image-checkbox">
                      <label>
                         <img class="img-responsive" src="../../assets/images/food.jpg">	
                         <input type="checkbox" name="image[]" style="opacity: 0;">
                         <h2>Food</h2>
                         <br><br>
                      </label>
                   </div>
                </div>
                <div class="my-third my-animate-fading">
                   <div class="my-card-0 image-checkbox">
                      <label>
                         <img class="img-responsive" src="../../assets/images/music.jpg">
                         <input type="checkbox" name="image[]" style="opacity: 0;">
                         <h2>Music</h2>
                         <br><br>
                      </label>
                   </div>
                </div>
        </div>

        <div class="my-center details catagories my-row">
                <div class="my-third my-animate-fading">
                   <div class="my-card-0 image-checkbox">
                      <label>
                         <img class="img-responsive" src="../../assets/images/sport.jpg">
                         <input type="checkbox" name="image[]" style="opacity: 0;">
                         <h2>Sports</h2>
                         <br><br>
                      </label>
                   </div>
                </div>
                <div class="my-third my-animate-fading">
                   <div class="my-card-0 image-checkbox">
                      <label>
                         <img class="img-responsive" src="../../assets/images/interview.png">
                         <input type="checkbox" name="image[]" style="opacity: 0;">
                         <h2>Interview</h2>
                         <br><br>
                      </label>
                   </div>
                </div>
                <div class="my-third my-animate-fading">
                   <div class="my-card-0 image-checkbox">
                      <label>
                         <img class="img-responsive" src="../../assets/images/science.jpg">
                         <input type="checkbox" name="image[]" style="opacity: 0;">
                         <h2>Science</h2>
                         <br><br>
                      </label>
                   </div>
                </div>
             </div>
     <div class="my-center details catagories my-row">
        <div class="my-third my-animate-fading">
           <div class="my-card-0 image-checkbox">
              <label>
                 <img class="img-responsive" src="../../assets/images/life.jpg">
                 <input type="checkbox" name="image[]" style="opacity: 0;">
                 <h2>Life</h2>
                 <br><br>
              </label>
           </div>
        </div>
        <div class="my-third my-animate-fading">
           <div class="my-card-0 image-checkbox">
              <label>
                 <img class="img-responsive" src="../../assets/images/yog.jpg">
                 <input type="checkbox" name="image[]" style="opacity: 0;">
                 <h2>Yoga</h2>
              </label>
           </div>
        </div>
        <div class="my-third my-animate-fading">
           <div class="my-card-0 image-checkbox">
              <label>
                 <img class="img-responsive" src="../../assets/images/know.jpg">
                 <input type="checkbox" name="image[]" style="opacity: 0;">
                 <h2>Knowledge</h2>
                 <br><br>
              </label>
           </div>
        </div>
     </div>
     
     <div class="my-center">
        <a href="#"  type="submit" class="my-light-green my-xlarge btn btn-default" style="padding: 3px 5px 3px 5px; 
           font-family: Changa">Submit</a>
     </div>
     <br><br>

